.snooze-message {
  position: absolute;
  bottom: 15px;
  left: 15px;
  height: 65px;
  width: 180px;
  padding: 10px;
  background-color: lightgrey;
  border: 1px solid black;
  color: black;
  line-height: 1.5;
}

.snooze-message .close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
